section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    background: azure;
    border: 1px solid black;
}


/* MAIN PAGE SLASH MAIN CSS */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

* {
    box-sizing: border-box;
}

body {
    font-family: fantasy;
    font-size: 18px;
    line-height: 34px;
    color: black;
    background: grey;
}

h1,
h2,
h3,
p {
    margin-bottom: 20px;
}

h1,
h2,
h3 {
    font-family: fantasy;
    font-weight: 700;
    color: black;
}

h1 {
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 49px;
    border-bottom: 3px solid black;
}

#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: grey;
    background: azure;
    border-bottom: 2px solid black;
}

#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: fantasy;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: black;
    text-align: center;
    background: grey;
}

nav {
    float: right;
    margin-top: 25px;
}

nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: black;
    text-decoration: none;
    border-left: 1px solid black;
}


/* footer */

footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: azure;
    text-align: center;
    background: #666666;
    border-top: 8px solid;
    height: 50px;
}

h3,
h2 {
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid azure;
}


/* main container and wrapping*/


/* portfolio   */

.work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
}

img {
    width: 69%;
    border: 0 none;
    height: 158px;
}

h3 {
    position: absolute;
    bottom: 0px;
    width: 69%;
    padding: 1px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: black;
    text-align: center;
    background: grey;
    border-bottom: 0;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}


/* contact page */

#contact-form ul {
    margin-bottom: 20px;
}

#contact-form li {
    margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid black;
}

textarea {
    height: 200px;
}

input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: azure;
    cursor: pointer;
    background: grey;
    border: 0 none;
}

@media only screen and (min-width: 736px) {
    .col-1 {
        width: 30px;
    }
    .col-2 {
        width: 30px;
    }
    .col-3 {
        width: 30px;
    }
    .col-4 {
        width: 30px;
    }
    .col-5 {
        width: 30px;
    }
    .col-6 {
        width: 30px;
    }
    .col-7 {
        width: 30px;
    }
    .col-8 {
        width: 30px;
    }
    .col-9 {
        width: 30px;
    }
    .col-10 {
        width: 30px;
    }
    .col-11 {
        width: 30px;
    }
    .col-12 {
        width: 30px;
    }
}